@font-face { 
    font-family: 'Lato light'; 
    src: local('Lato Light'), local('Lato-Light'),
         url('assets/fonts/Lato-Light.ttf')  format('truetype');
    font-weight: 300; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Lato'; 
    src: local('Lato Regular'), local('Lato-Regular'),
         url('assets/fonts/Lato-Regular.ttf')  format('truetype');
    font-weight: 400; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Lato'; 
    src: local('Lato Bold'), local('Lato-Bold'),
         url('assets/fonts/Lato-Bold.ttf')  format('truetype');
    font-weight: 700; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Lato'; 
    src: local('Lato Black'), local('Lato-Black'),
         url('assets/fonts/Lato-Black.ttf')  format('truetype');
    font-weight: 900; 
    font-style: normal; 
}
* {
    margin: 0;
}
body {
    font-family: 'Lato', Verdana, sans serif;
    width: 1020px;
    color: #666d89;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    width: 1020px;
    margin: auto;
}

h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.portfolio {
    height: 870px;
    background-color: #2d303a;
    padding-left: 40px;
    border-bottom: 6px solid #323746;
}

.portfolio__title {
    padding-top: 70px;
    padding-bottom: 25px;
}

.portfolio__subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

.layout-4-column {
    display: flex;
    width: 940px;
    height: 600px;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}
.layout-4-column-item {
    padding-bottom: 17px;
}

.layout-4-column-item__img {
    width: 220px;
    height: 187px;
}

.tag {
    border-radius: 5px;
    border: 1px solid #666d89;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}

.tag:hover {
    color: #f06c64;
    border:  1px solid #f06c64;
    cursor: pointer;
}

.portfolio__tags {
    margin-top: 11px;
    margin-bottom: 19px;
}

.about-us {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding-left: 40px;
}

.about-us__title {
    padding-top: 65px;
    padding-bottom: 25px;
}

.about-us__subtitle {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

.layout-3-column {
    display: flex;
    width: 940px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}

.employee {
    width: 300px;
}
.employee img {
    width: 300px;
    height: 300px;
}
.employee__name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    padding-top: 15px;
    text-overflow: clip;
}

.employee__description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-buttons {
    display: flex;
    flex-direction: row;
}

.social-buttons li {
    margin-right: 7px;
    cursor: pointer;
}

