@font-face { 
    font-family: 'Lato light'; 
    src: local('Lato Light'), local('Lato-Light'),
         url('assets/fonts/Lato-Light.ttf')  format('truetype');
    font-weight: 300; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Lato'; 
    src: local('Lato Regular'), local('Lato-Regular'),
         url('assets/fonts/Lato-Regular.ttf')  format('truetype');
    font-weight: 400; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Lato'; 
    src: local('Lato Bold'), local('Lato-Bold'),
         url('assets/fonts/Lato-Bold.ttf')  format('truetype');
    font-weight: 700; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Lato'; 
    src: local('Lato Black'), local('Lato-Black'),
         url('assets/fonts/Lato-Black.ttf')  format('truetype');
    font-weight: 900; 
    font-style: normal; 
}
html {
    scroll-behavior: smooth;
}
.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    margin: 0;
}
body {
    font-family: 'Lato', Verdana, sans-serif;
}

a {
    text-decoration: none;
}

input {
    border: none;
    box-sizing: border-box;
    padding: 0px;
}

textarea {
    border: none;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
}

h1 {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.wrapper {
    position: relative;
    width: 1020px;
    margin: auto;
}

.header {
    background-color: #2d303a;
    width: 100%;
    height: 89px;
    border-bottom: 6px solid #323746;
    position: fixed;
    z-index: 6;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
}

.logo {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 25px;
}
.logo h1:hover {
    color:  #f06c64;
}

.logo_colored {
    color: #f06c64;
}
.header__navigation {
    margin-left: auto;
    padding-top: 38px;

}

.navigation {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    padding-right: 25px;

}
.navigation__link {
    font-size: 12px;
    line-height: 6px;
    color:#ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.035em;

}

.navigation__item:not(:last-child)::after{
    content: " ·";
    font-family: Lato;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    position: relative;
    left: 10px;
}
.navigation__link:hover {
    color: #f06c64;
}
.active-nav {
    color: #f06c64;
}

.navigation__item {
    margin: auto;
}

/* //slider */
.carousel {
    position: relative;
    /* top: 50%;
    left: 50%; */
    width: 100%;
    /* text-align: center;
    transform: translate(-50%,-50%); */
}
.slider {
    height: 594px;
    background-color: #f06c64;
    transition: 1s;
    padding-top: 89px;
}

.slider_changed {
    background-color: #648BF0;
}

.slider__list {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-item {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.active-slider,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

figure {
   /* background-color: #f06c64; */
   width: 1020px;
   height: 594px;
}

.slider__image {
    position: absolute;

}

.slider__image-vertical {
    top: 53px;
    left: 112px;
    width: 216px;
    height: 458px;
}

.slider__image-horizontal {
    top: 174px;
    left: 425px;
    width: 458px;
    height: 216px;
}
.phone {
    position: absolute;
    z-index: 2;
}

.phone-display {
    position: absolute;
    z-index: 3;
}

.phone-display-none {
    z-index: 0;
}
.phone-display-horizontal {
    top: 14px;
    left: 60px;
}
.phone-display-vertical {
    left: 14px;
    top: 65px;
}
.phone-shadow {
    position: absolute;
    z-index: 1;
}

.ico_left-arrow {
    position: absolute;
    width: 16px;
    height: 27px;
    top: 281px;
    left: 42px;
    z-index: 5;
}
.arrow:hover path{
    fill: #2d303a;
}
.ico_right-arrow {
    position: absolute;
    width: 16px;
    height: 27px;
    top: 281px;
    right: 40px;
    z-index: 5;
}
.change-arrow path {
    fill: #5679D4;
    transition: 1s;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}
@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}
/* services */

.services {
    height: 494px;
    color: #767e9e;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services__content {
    padding-left: 40px;
    padding-top: 67px;
    width: 960px;
}

.services__subtitle {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 44px;
    height: 60px;
    overflow: hidden;
    text-align: justify;
}

.services__layout-3-column {
    display: flex;
    min-width: 960px;
    flex-wrap: wrap;
    flex-direction: row;
}

.service {
    width: 300px;
    height: 101px;
    padding-bottom: 22px;
    padding-right: 19px;
    text-align: justify;
}
.service__description {
    padding-left: 81px;
}
.service__description-subtitle {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    padding-top: 10px;
    height: 67px;
    overflow: hidden;
    text-align: justify;
}

.ico-service {
    height: 60px;
    width: 60px;
}

.ico_pen {
    position: absolute;
    background-image: url('assets/img/services-item-1.svg');
}
.ico_bulb {
    position: absolute;
    background-image: url('assets/img/services-item-2.svg');
}

.ico_star {
    position: absolute;
    background-image: url('assets/img/services-item-6.svg');
}
.ico_bubble {
    position: absolute;
    background-image: url('assets/img/services-item-5.svg');
}

.ico_phone {
    position: absolute;
    background-image: url('assets/img/services-item-4.svg');
}

.ico_heart {
    position: absolute;
    background-image: url('assets/img/services-item-3.svg');
}


.portfolio {
    height: 863px;
    background-color: #2d303a;
    padding-left: 40px;
    border-bottom: 6px solid #323746;
}

.portfolio__title {
    padding-top: 70px;
    padding-bottom: 25px;
}

.portfolio__subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    overflow: hidden;
    text-align: justify;
    height: 30px;
    width: 940px;
}

.layout-4-column {
    display: flex;
    width: 960px;
    height: 630px;
    padding-top: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}
.layout-4-column-item {
    margin: 10px;
}
.portfolio-item_active {
    border: 5px solid  #F06C64;
    margin: -5px;
}
.layout-4-column-item__img {
    width: 220px;
    height: 187px;
}

.tag {
    border-radius: 5px;
    border: 1px solid #666d89;
    padding-left: 5px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}

.tag:hover {
    color: #f06c64;
    border:  1px solid #f06c64;
    cursor: pointer;
}

.tag_active {
    color: #f06c64;
    border:  1px solid #f06c64;
}

.portfolio__tags {
    margin-top: 11px;
    margin-bottom: 19px;
    margin-left: 2px;

    height: 22px;
}

.about-us {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding-left: 40px;
}

.about-us__title {
    padding-top: 69px;
    padding-bottom: 25px;
}

.about-us__subtitle {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    overflow: hidden;
    text-align: justify;
    height: 60px;
}

.about-us__layout-3-column {
    display: flex;
    width: 940px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 46px;
}

.employee {
    width: 300px;
}
.employee img {
    width: 300px;
    height: 300px;
}
.employee__name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    padding-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.employee__description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    height: 35px;
    overflow: hidden;
}

.social-buttons {
    display: flex;
    flex-direction: row;
    width: 152px;
    justify-content: space-between;
    padding-top: 20px;
}

.social-buttons li {
    cursor: pointer;
}

.social-buttons li:hover {
    background-color: #f06c64;
    border-radius: 20px;
    width: 31px;
    height: 31px;
}

.quote {
    height: 588px;
    background:  #f06c64;
    padding-left: 40px;
    padding-top: 60px;
    color: #f0d8d9;
    border-bottom: 6px solid #ea676b;
}

.quote__title {
    padding-top: 8px;
    color: #f0d8d9;
}

.quote__subtitle {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    padding-top: 27px;
    padding-bottom: 47px;
    overflow: hidden;
    text-align: justify;
}
input {
    width: 619px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    padding-left: 15px;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
}
.submit {
    background-color: #FBC65F;
    width: 136px;
    height: 38px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #886A30;
    padding: 0;
}

.quote textarea {
    width: 619px;
    height: 202px;
    border-radius: 5px;
    background-color: #d6564f;
    padding-left: 15px;
    padding-top: 8px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    margin-bottom: 16px;

}

textarea:-moz-placeholder { 
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
 }

textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
}

::placeholder  {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
}

.quote__2-layout-column {
    display: flex;
    flex-direction: row;
    width: 940px;
}

.quote__contacts {
    padding-left: 20px;
}
.quote__contacts__title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
}

.quote__contacts__subtitle {
    width: 300px;
    height: 85px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    overflow: hidden;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 24px;
}

.contacts {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
}

.quote__contacts a {
    color: inherit;
}

.ico_contacts {
    padding-right: 10px;
    padding-left: 2px;
}
.ico_contacts_address::before {
    content: url("assets/img/ico-location.svg");
}

.ico_contacts_phone::before{
    content: url("assets/img/ico-phone.svg");
}

.ico_contacts_letter::before {
    content: url("assets/img/ico-mail.svg");
}

.footer {
    height: 76px;
    background-color: #2d303a;   
}
.footer__wrapper {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: space-between;
}
.copyright {
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    color: #767e9e;
    padding-top: 27px;
}

.footer__social-buttons {
    padding-top: 22px;
}
.ico-google {
    background-image: url('assets/img/ico-google-plus.svg');
    width: 32px;
    height: 32px;
}
.ico-facebook {
    background-image: url('assets/img/ico-facebook.svg');
    width: 32px;
    height: 32px;
}
.ico-twitter {
    background-image: url('assets/img/ico-twitter.svg');
    width: 32px;
    height: 32px;
}
.ico-linkedin {
    background-image: url('assets/img/ico-linkedin.svg');
    width: 32px;
    height: 32px;
}
.modal {
    display: none;
    width: 500px;
    height: 300px;
    border-radius: 25px;
    background-color: #f2f2f2;
    color: #2d303a;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 400;
    position: fixed;
    left: 50%; 
    margin-left:-150px;
    top: 25%;
    z-index: 6;
}
.modal__p {
    width: 400px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.modal__title {
    text-align: center;
    font-weight: 700;
}
.modal__message {
    position: absolute;
    top: 50px;
    left: 50px;
}

.fade {
    display: none;
    background: rgba(23, 23, 23, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.modal-show {
    display: block;
}

.modal__button {
    border: 0;
    position: absolute;
    left: 132px;
}
input {
    outline: none;
}
input:required:focus:invalid{
    border: 2px solid red;
}

input:required:focus:valid{
    border: 2px solid green;
}